{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        <section class="archives-wrap">
            <div class="archive-category-wrap">
                <h1 class="archive-category">{{ .Title }}</h1>
            </div>
            <div class="archives">
                {{ $paginator := .Paginate (.Data.Pages) 10 }}
                {{- range sort $paginator.Pages }}
                    {{ partial "li.html" . }}
                {{- end -}}
        </div></section>
        {{ partial "pagination.html" . }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
