<article class="article article-type-post mrg-ntop" itemscope itemprop="blogPost">
    <div class="article-inner">
        {{ $Site := .Site }}
        <div class="article-entry" itemprop="articleBody">
            {{ if .Title }}
            <h1 class="article-title" itemprop="name">{{ .Title }}{{ if .Params.subtitle }}: {{ htmlUnescape .Params.subtitle }}{{ end }}</h1>
            {{ end }}
            <div class="article-meta">
                {{ if .Params.authors }}
                {{ $AuthorsLen := (len .Params.authors | add -1) }}
                <div class="authors">
                    {{ T "by" }} {{ range $i, $e := .Params.authors }}{{ if gt $i 0 }}{{ if eq $i $AuthorsLen }} {{ T "and" }}{{ else }},{{ end }} {{ end }}<span class="txtsc txtlwr">{{ $e.given }} {{ $e.family }}</span>{{ end }}
                </div>
                {{ end }}
                {{ if .Params.categories }}
                <div class="post-categories">
                    <div class="article-category">
                        {{ range $i, $e := .Params.categories }}
                        {{ if gt $i 0 }}
                        <span>&gt;</span>
                        {{ end }}
                        <a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                {{ if .Site.DisqusShortname }}
                <div class="article-comment-link-wrap">
                    <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">Comments</a>
                </div>
                {{ end }}
            </div>
            {{ .Content }}
            {{ if .Params.pages }}
            <form action="galo-ed{{.Params.number}}-{{ index .Params.pages 0 }}-{{ index .Params.pages 1 }}.pdf" method="GET">
                <button class="line-button">Baixar pdf</button>
            </form>
            {{ end }}
        </div>
    </div>
    {{ partial "nav.html" . }}
</article>
