<footer id="footer">
    <div class="outer">
        {{ partial "end-hearts.html" . }}
        <div id="footer-info" class="inner">
            &copy; {{ now.Format "2006"}} {{ or .Site.Author.name .Site.Title }} &mdash; ISSN 2675-7400<br>
            <span class="txtsc">doi</span>: https://doi.org/10.53919/g<br>
            Biblioteca Ocidente &mdash; LIBRUM LUX MUNDI <br>
            Parnamirim-RN
        </div>
    </div>
    {{ template "_internal/google_analytics_async.html" . }}

    {{ if $.Param "katex" }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha256-ExtbCSBuYA7kq1Pz362ibde9nnsHYPt6JxuxYeZbU+c=" crossorigin="anonymous"></script>
        <script>renderMathInElement(document.body);</script>
    {{ end }}
    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function () {
            var header = document.getElementById('header');
            if (header.classList.contains('mobile-on')) {
                header.classList.remove('mobile-on');
            } else {
                header.classList.add('mobile-on');
            }
        });
    </script>
    <script>(function(){
        var WebP=new Image();
        WebP.onload=WebP.onerror=function(){
            if(WebP.height!=2) _l('https://cdn.jsdelivr.net/npm/webpjs@0.0.2/webpjs.min.js', true, 'sha256-VlECfL16m0cUbsQLti3BLYfdGjgqEDHAyP9KLRJ4EmE=');
        };
        WebP.src='data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA';
    })();</script>
</footer>
