<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <a id="main-nav-toggle" class="nav-icon" href="javascript:;">
                <svg width="24" height="17">
                    <rect x="5" y="3" width="14" height="2"/>
                    <rect x="5" y="7" width="14" height="2"/>
                    <rect x="5" y="11" width="14" height="2"/>
                </svg>
            </a>
            <a id="logo" class="logo-text" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
            <nav id="main-nav">
                {{ $current := . }}
                {{- range .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) (eq $current.URL .URL)}}
                {{ $active = or $active (eq .Name $current.Title) }}
                {{ $active = or $active (eq (.Name | replaceRE " " "-" | lower) $current.Section) }}
                <a class="main-nav-link{{ if $active }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                {{- end }}
            </nav>
            <nav id="sub-nav">
                <div id="search-form-wrap">
                </div>
            </nav>
        </div>
    </div>
</header>
