<article class="archive-article archive-type-post">
    <div class="archive-article-inner">
        <a class="archive-article-header" href="{{ .RelPermalink }}">
            <p class="archive-article-date">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">
                    {{ .Date.Day }} de
                    {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de
                    {{ .Date.Year }}
                </time>
            </p>
            <h2 itemprop="name" class="no-margin">
                <span class="archive-article-title"></span>{{ .Title }}</span>
            </h2>
        </a>
    </div>
</article>
