{{ if not .Site.Params.NoPostNavigation }}
<nav id="article-nav">
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.RelPermalink }}" id="article-nav-newer" class="article-nav-link-wrap">
        <div class="article-nav-title"><span>←</span>&nbsp;
            {{ .PrevInSection.Title  }}</div>
    </a>
    {{ else }}
    <span id="article-nav-newer" class="article-nav-link-wrap">
        <div class="article-nav-title default-cursor">■</div>
    </span>
    {{ end }}
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.RelPermalink }}" id="article-nav-older" class="article-nav-link-wrap">
        <div class="article-nav-title">
            {{ .NextInSection.Title }}&nbsp;<span>→</span>
        </div>
    </a>
    {{ else }}
    <span id="article-nav-older" class="article-nav-link-wrap">
        <div class="article-nav-title default-cursor">■</div>
    </span>
    {{ end }}
</nav>
{{ end }}
