{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="page-nav">
    <div class="prev">
        {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}" rel="prev">← {{ T "Prev" }}</a>
        {{ end }}
    </div>
    <div class="pages">
        {{ range $pag.Pagers }}
            {{ if not (eq .PageNumber 1) }}
                <span class="divisor">⋅</span>
            {{ end }}
            {{ if eq . $pag }}
                <span class="page current">
                    <span class="number">{{ $pag.PageNumber }}</span>
                </span>
            {{ else }}
                <a class="page" href="{{ .URL }}">
                    <span class="number">{{ .PageNumber }}</span>
                </a>
            {{ end }}
        {{ end }}
    </div>
    <div class="next">
        {{ if $pag.HasNext }}
            <a href="{{ $pag.Next.URL }}" rel="next">{{ T "Next" }} →</a>
        {{ end }}
    </div>
</nav>
{{ end }}
