{{ partial "head.html" . }}
<body class="rainbow-background">
<div id="container">
    <section id="main" class="outer hidden-overflow-x bold-padding-top">
        {{ partial "church.html" }}
        <h1 class="home-main-title">
            <span class="small-text">Revista</span><br>
            GALO
        </h1>
        <div>
            <nav id="home-main-nav">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) (eq $current.Page.RelPermalink .URL)}}
                    {{ $active = or $active (eq .Name $current.Title) }}
                    {{ $active = or $active (eq (.Name | replaceRE " " "-" | lower) $current.Section) }}
                    <a class="main-nav-link{{ if $active }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </section>
    <footer id="footer">
        <div class="outer">
            <div id="footer-info" class="inner">
                &copy; {{ now.Format "2006"}} {{ or .Site.Author.name .Site.Title }} &mdash; ISSN 2675-7400<br>
                <span class="txtsc">doi</span>: https://doi.org/10.53919/g<br>
                Biblioteca Ocidente &mdash; LIBRUM LUX MUNDI<br>
                Parnamirim-RN, Brasil
            </div>
        </div>
    </footer>
</div>
</body>
</html>
